<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         id="entry"
         name="Orchestrator Agent Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
            <run
               class="eu.agno3.orchestrator.agent.app.AgentApplication">
         </run>
      </application>
   </extension>
</plugin>
